.header {
  background-color: red;
  padding: 2rem;
  .menu {
    margin: 0;
    list-style: none;
    .item {
      display: inline;
      padding-left: 0.5rem;
    }
    .active {
      font-weight: bold;
    }
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
